.x-titlebar{ background-color:#383838;}

.text-black{ color:#333;}
.o-img1{ width:60px;}
.o-nopadding{ padding-left:0; padding-right:0;}
.o-delline{ text-decoration:line-through;}
.o-line{ border-bottom:1px solid #dfdfdf;}

.o-close{ height:20px; line-height:20px; font-size:14px; padding:0 5px; border-radius:0px; border-left:1px solid #e7e7e7;}

.o-number{ width:50px;}
.o-btn .btn{ width:49%; color:#fff; border-radius:3px; background-color:#6bb73e;}
.o-btn .btn:nth-child(2){ background-color:#c60a1e;}

.x-list ul li{ line-height:27px; border:1px solid #dfdfdf;}
.x-list ul li.active{ border:1px solid #c60a1e;}

.o-move{ display:none; position:absolute; left:30px; top:200px; z-index:1; width:20px; height:20px; border-radius:10px; background-color:#6bb73e;}
.o-move i{ font-size:10px; color:#fff;}

.o-cart{ width:60px; position:fixed; right:10px; bottom:50px; z-index:8;}
.o-cart div{ display:none; position:absolute; right:0; top:0px; z-index:9; width:20px; height:20px; line-height:20px; font-size:12px; border-radius:10px; color:#fff; background-color:#f41218;}

.x-popOver-overlay {
	top: 48px;
	background-color: black;
}
